doctype html
html 
    head 
        title My Title
        block scripts 
        block style 
    body
        nav#navbar
            ul
                li #[a(href='/') HOME]
                li #[a(href='/') ABOUT]
                li #[a(href='/contact') CONTACT]
                li #[a(href='/') CLASS INFO]
                li #[a(href='/') SERVICES] 
        block content 
        section#footer 
            | Copyright @ 2023 Swastik Solutions | All Rights reserved 
            